// _uswds-variables.scss is a copy from the node module. This can be used
// as a reference when over-riding the default variables to match your design.
// Copy the variables from that file, paste them here and adjust to fit your design.


$color-primary:              #4484CE;
$color-primary-darker:       #06517D;
$color-primary-darkest:      #112D46;