.brand-bg-color {
  background-color: $color-primary-darker;
}

// Nav
.links-on-dark-bg a, {
  color: white;
  &:visited {
    color: white;
  }
  &:active, &:hover {
    color: #888;
  }
}

.nav-logo {
  width: 76px;
  padding: 3px 10px;
}

@media screen and (min-width: 951px){
  .nav-logo {
    width: 100px;
  }
}
// Secondary nav
@media screen and (min-width: 951px){
  .usa-nav-secondary {
    top: -7rem;
  }
}

// Mobile nav
.usa-menu-btn {
  background-color: $color-primary;
  height: 3.9rem;
}

// Hero image
.usa-hero {
    background-image: url(../img/theme/hero-image.jpg);
}

.usa-section-dark-alpha {
  background-color: rgb(26, 41, 48); /* The Fallback */
  background-color: rgba(26, 41, 48, 0.8);
}

// Pages without hero
.main-content {
  margin-top: 4rem;
}

// Used as a sort of breadcrumb

.site-subheading {
  font-family: $font-sans;
  font-size: 1.3rem;
  font-weight: $font-normal;
  text-transform: uppercase;
  color: $color-gray;
  display: block;
  letter-spacing: 0.5px;
  margin-bottom: 0.6rem;
  margin-top: 0;
}

.bronze {
  color: #C2B1A7 !important;
}

// Helper

.center-text {
  text-align: center;
}

// Responsive Video Embed

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
