<header class="usa-header usa-header-extended" role="banner">
  <div class="brand-bg-color">
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
          <a href="/" accesskey="1" title="Home" aria-label="Home">
            <img src="img/theme/logo.svg" alt="" class="nav-logo"></a>
        </em>
      </div>
    </div>
  </div>

  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="img/close.svg" alt="close">
      </button>
      <ul class="usa-nav-primary usa-accordion">
        <li>
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
            <span>Dropdown</span>
          </button>
          <ul id="side-nav-1" class="usa-nav-submenu">
            <li>
              <a href="page2.html">Page 2</a>
            </li>
            <li>
              <a href="#">Page 3</a>
            </li>
            <li>
              <a href="#">Page 4</a>
            </li>
            <li>
              <a href="#">Page 5</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="usa-nav-link" href="#">
            <span>Another Link</span>
          </a>
        </li>
        <li>
          <a class="usa-nav-link" href="#">
            <span>Another Link</span>
          </a>
        </li>
        <li>
          <a class="usa-nav-link" href="#">
            <span>Another Link</span>
          </a>
        </li>
      </ul>
      <div class="usa-nav-secondary">
        {# <form class="usa-search usa-search-small js-search-form">
          <div role="search">
            <label class="usa-sr-only" for="search-field-small">Search small</label>
            <input id="search-field-small" type="search" name="search">
            <button type="submit">
              <span class="usa-sr-only">Search</span>
            </button>
          </div>
        </form> #}
        <ul class="usa-unstyled-list usa-nav-secondary-links links-on-dark-bg">
          {# <li class="js-search-button-container">
            <button class="usa-header-search-button js-search-button">Search</button>
          </li> #}
          <li>
            <a href="#" target="_blank">Secondary link</a>
          </li>
          <li>
            <a href="#">Secondary link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="usa-overlay"></div>
