{% import "templates/_macros.njk" as macros %}
{# Global call to macros so that they are accessible on every page #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | L&Aring;go&trade;</title><!-- title is set on the page -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page_description }}">
    <meta name="author" content="YourName">
    {{ macros.google ('UA-XXXXX-Y') }}
    <script src="js/main.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    {% include "templates/_header.njk" %}
    {% block content %}{% endblock %} <!--- content will be here -->
    {% include "templates/_footer.njk" %}
  </body>
</html>
