{# Youtube #}
{% macro youtube(id) %}
<div class='embed-container'>
  <iframe src="https://www.youtube.com/embed/{{ id }}" frameborder='0' allowfullscreen></iframe>
</div>
{% endmacro %}

{% macro vimeo(id) %}
<div class='embed-container'>
  <iframe allowfullscreen frameborder='0' src='https://player.vimeo.com/video/{{ id }}'></iframe>
</div>
{% endmacro %}

{# Google Analytics #}
{% macro google(id) %}
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ id }}', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
{% endmacro %}

