{% extends "templates/_layout.njk" %} <!--extends the layout template -->

{% block title %}Page 2{% endblock %}
{% set page_description = "Nunjucks Precompiler" %}

{% block content %}
<main class="main-content" id="main-content">

  <div class="usa-content">
    <div class="usa-grid">
      <header>
       <p class="site-subheading">Page 2</p>
       <h1 class="mt0">Infinity plus 10</h1>
      </header>
      <p class="usa-font-lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
      <h2>Some things are worth it</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>
    <div class="usa-grid mt3">
      {{ macros.vimeo ('55137276') }}
    </div>
  </div>

</main>

{% endblock %}
